<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>
			List Leagues
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">List Leagues</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="container mt-5">
		<table class="table table-bordered">
			<thead>
				<tr class="bg-primary text-white">
					<th class="text-center">League</th>
					<th class="text-center">Sport Category</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let league of dataLeagues.leagues | paginate: { itemsPerPage: 9, currentPage: cp }">
					<td>{{league.strLeague}}</td>
					<td class="text-center">{{league.strSport}}</td>
				</tr>
			</tbody>
		</table>

		<div class="text-center">
			<pagination-controls (pageChange)="cp = $event"></pagination-controls>
		</div>
	</div>
	<img class="ball" src="assets/ball.png" alt="">
	<img class="basketball" src="assets/basketball.png" alt="">
</ion-content>