<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>
			List Sports
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">List Sports</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="container mt-5">
		<div class="row">
			<div *ngFor="let sport of dataSports.sports | paginate: { itemsPerPage: 9, currentPage: cp }" class="col-md-4 mb-5">
				<div class="card mb-5 h-100">
					<img src="{{sport.strSportThumb}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{sport.strSport}}</h5>
						<p class="card-text">{{sport.strSportDescription.substring(0, 200)}}...</p>
					</div>
				</div>
			</div>

			<div class="text-center">
				<pagination-controls (pageChange)="cp = $event"></pagination-controls>
			</div>

		</div>
	</div>
</ion-content>